@model IEnumerable<Brand>

<h5 class="filterBy__heading">Brands</h5>


<div class="filterBy__list-wrapper">
    <ul>
        @foreach (var brand in Model)
        {
            @if (brand.Slug == (string)ViewData["SelectedBrand"])
            {
                <li>

                    <a asp-controller="Home" asp-action="Index"
                       asp-route-category_slug="@ViewData["SelectedCategory"]"
                       asp-route-brand_slug="@brand.Slug"
                       asp-route-page=1
                       class="filterBy__item__selected"
                       >
                        @brand.Name
                    </a>
                </li>

           @* <li><a href="/home/@ViewData["SelectedCategory"]/@brand.Slug/1" class="filterBy__item__selected">@brand.Name</a></li>*@
        }
            else
            {
                <li>

                    <a asp-controller="Home" asp-action="Index"
                       asp-route-category_slug="@ViewData["SelectedCategory"]"
                       asp-route-brand_slug="@brand.Slug"
                       asp-route-page=1
                       class="filterBy__item__not-selected"
                    >
                        @brand.Name
                    </a>
                </li>
                @*<li><a href="/home/@ViewData["SelectedCategory"]/@brand.Slug/1" class="filterBy__item__not-selected">@brand.Name</a></li>*@
            }
        }
    </ul>

</div>


