@model PagedProductViewModel

<h5 class="filterBy__heading">Brands</h5>

@*asp-route-category_slug="@ViewData["SelectedCategory"]"*@

<div class="filterBy__list-wrapper">
    <ul>
        @foreach (var brand in Model.Brands)
        {
            string isLinkSelectedClassName = "filterBy__item__not-selected";

            if (brand.Slug == Model.CurrentBrand)
            {
                isLinkSelectedClassName = "filterBy__item__selected";
            }

            <li>

                <a asp-controller="Home" asp-action="Index"
                   asp-route-category_slug="@Model.CurrentCategory"
                   asp-route-brand_slug="@brand.Slug"
                   asp-route-page=1
                   class="@isLinkSelectedClassName">
                    @brand.Name
                </a>
            </li>

        }

    </ul>

</div>


