@model IEnumerable<ECommerce.Models.Domain.Product.Category>


<h5 class="filterBy__heading">Categories</h5>

<div class="filterBy__list-wrapper">
    <ul>
        @foreach (var category in Model)
        {
            @if (category.Slug == (string)@ViewData["SelectedCategory"])
            {

                <li>

                    <a
                        asp-controller="Home" asp-action="Index"
                        asp-route-category_slug="@category.Slug"
                        asp-route-brand_slug="@ViewData["SelectedBrand"]"
                        asp-route-page=1

                        class="filterBy__item__selected">
                        
                        @category.Name

                    </a>
                </li>
            }
            else
            {
                <li>

                    <a
                        asp-controller="Home" asp-action="Index"
                        asp-route-category_slug="@category.Slug"
                        asp-route-brand_slug="@ViewData["SelectedBrand"]"
                        asp-route-page=1

                        class="filterBy__item__not-selected">
                        
                        @category.Name

                    </a>
                </li>

                @*<li><a href="/home/@category.Slug/@ViewData["SelectedBrand"]/1" class="filterBy__item__not-selected">@category.Name</a></li>*@
            }
        }
    </ul>

</div>
