@model PagedProductViewModel


@if (Model.PagedProducts.Products.Any())
{
  <div class="container">
    <nav>
      <div class="custom-pagination">
        <ul class="pagination">
          @if (Model.PagedProducts.HasPreviousPages)
          {
              <li>
                  <a
                      asp-controller="Home"
                      asp-action="Index"
                      asp-route-category_slug="@Model.CurrentCategory"
                      asp-route-brand_slug="@Model.CurrentBrand"
                      asp-route-page="@(Model.PagedProducts.CurrentPage - 1)">

                      &laquo;
                  </a>
              </li>
          }
          else
          {
            <li class="disabled"><span>&laquo;</span></li>
          }
          @foreach (var page in Model.PagedProducts.Pages)
          {
            if (page > 0)
            {
              if (Model.PagedProducts.CurrentPage == page)
              {
                <li class="active"><span>@(page) <span class="sr-only">(current)</span></span></li>
              }
              else
              {
                  <li>
                      <a asp-controller="Home" asp-action="Index"
                         asp-route-category_slug="@Model.CurrentCategory"
                         asp-route-brand_slug="@Model.CurrentBrand"
                         asp-route-page="@(page)"
                         class="filterBy__item__not-selected">
                          @(page)
                      </a>
                  </li>

              }
            }
            else
            {
              <li class="disabled"><a href="#">&hellip;</a></li> 
            }
          }

          @if (Model.PagedProducts.HasNextPages)
          {
              <li>

                  <a
                      asp-controller="Home"
                      asp-action="Index"
                      asp-route-category_slug="@Model.CurrentCategory"
                      asp-route-brand_slug="@Model.CurrentBrand"
                      asp-route-page="@(Model.PagedProducts.CurrentPage + 1)">

                      &raquo;

                  </a>
              </li>
          }
          else
          {
            <li class="disabled"><span>&raquo;</span></li>
          }
        </ul>
      </div>
    </nav>
  </div>
}

